<?xml version="1.0" encoding="UTF-8"?>
<!-- Minimal Maven settings to resolve XWiki artifacts from nexus.xwiki.org. -->
<settings>
  <profiles>
    <profile>
      <id>xwiki</id>
      <repositories>
        <repository>
          <id>xwiki-releases</id>
          <url>https://nexus.xwiki.org/nexus/content/groups/public</url>
          <snapshots><enabled>false</enabled></snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>xwiki-plugins-releases</id>
          <url>https://nexus.xwiki.org/nexus/content/groups/public</url>
          <snapshots><enabled>false</enabled></snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>xwiki</activeProfile>
  </activeProfiles>
</settings>
